/* 기본 색상 변수에 담기 */
html {
    --color-texta: #1d1d1d;
    --color-textb: #fff;
}

/* 시스템 커서 안 보이게 숨기기 */
body {
    cursor: none;
}

/* 커스텀 커서 스타일 정의해주기 */
.cursor {
    width: 4rem;
    height: 4rem;
    /* border: 2px solid var(--color-texta); */
    border-radius: 50%;
    position: fixed;
    z-index: 9000;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    background-size: cover;
    background-color: #fff;
    mix-blend-mode:difference;
    pointer-events: none;
}