@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.footer {
    width: 100vw;
    height: 100px;
    background-color: #252525;
}
.foot {
    position: absolute;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-family: 'S-CoreDream-3Light';
    margin-top: 20px;
}